
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }
  
  header {
    text-align: center;
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-size: larger;
  }
  
  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  section {
    padding: 70px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; /*WORK WITH THIS*/
    
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1e90ff;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    height: 42px;
    width:300px /*WORK WITH THIS*/
  }
  
  input[type="text"]:focus, select:focus {
    border-color: #4682b4;
    outline: none;
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(239, 95%, 33%) 0%,
      hsl(199, 55%, 54%) 8%,
      hsl(192, 55%, 40%) 92%,
      hsl(244, 77%, 27%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(199, 87%, 65%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  
  button:hover {
    filter: brightness(110%);
  }
  
  button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  
  button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  
  button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  button:focus:not(:focus-visible) {
    outline: none;
  }
  
  footer {
    background-color: #1e90ff;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    margin-top: auto;
  }
  
  /* ---------- Media Queries ---------- */
  
  /* For smaller screens */
  @media screen and (max-width: 768px) {
    .form-container {
      flex-direction: column;
      align-items: center;
    }
  
    .form-group {
      width: 100%;
    }
  
    .button-wrapper {
      margin-top: 20px;
    }
  
    button {
      margin-top: 20px;
    }
  }
/* For larger screens */
  @media screen and (min-width: 769px) {
  
    .form-group {
        width: 100%;
      }
}
  
